
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width:100%;
    height: auto;


}

.container{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-header {

    border-bottom: 1px solid  #E7E9FC;
}

.page-header .container {
    display: flex;
    justify-content: space-between;

}

.navigation-container {
    display: flex;
    /* gap: 76px; */
    align-items: center;
}

.navigation-links {
    display: flex;
    gap: 40px;
}


.address-list {
    display: flex;
    gap:40px;
}

.logo {
    text-transform: uppercase;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    margin-right: 76px;

}

.logo-studio {
    color: #2E2F42;
}


.navigation-list-link {
    color: #2E2F42;
    font-weight: 500;
    padding: 24px 0;
    /* line-height: 150%;
    letter-spacing: 0.32px; */
}

.navigation-list-link:hover {
    color: #404BBF;

}

.navigation-list-link:focus {
    color: #404BBF;
    text-decoration: underline;
}

.address-link {
    color: #434455;
    padding: 24px 0;
    font-style: normal;
    /* line-height: 150%;
    letter-spacing: 0.32px; */
}

.address-link:hover {
    color: #404BBF;
}

.address-link:focus {
    color: #404BBF;
}

/* First section */

.first-section {
    padding: 188px 0;
    background-color: #2E2F42;
}

.page-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 496px;
    margin: 48px auto;
    
}

.central-button {
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background-color: #4D5AE5;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    cursor: pointer; 
    border-radius: 4px;
    border: none;
    min-width: 169px;
    height: 56px;
    display: block;
    margin-left: 480px;
    margin-right: 479px;
    
}
 

.central-buttom:hover,
.central-buttom:focus {
    background-color: #404BBF;
}


/* Second section, Our team, Our Portfolio section */

.section-title-hidden {
    
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
        
}

.second-section {
    padding: 120px 0;
}

.benefits-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.benefits-list-item {
    width: calc((100% - 3 * 24px) / 4);
}

.benefits-list-item .list-title {
    margin-bottom: 8px;
}

.section-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 111.111%;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.list-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
} 

.team-section .section-title{
    margin-bottom: 72px;
}

.team-list{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.team-list-item {
    background-color: #FFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc((100% - 3 * 24px) / 4);

}

.name-position-container{
    padding: 32px 0;
}

.team-list-item .list-title {
    text-align: center;
    margin-bottom: 8px;
}

.team-list-item .list-text {
    text-align: center;
}

.our-portfolio-section {
    padding: 120px 0;
}

.our-portfolio-section .section-title {
    margin-bottom: 72px;
}

.our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    flex-shrink: 0;
    
}
.our-portfolio-list-item {
    border: 1px solid #E7E9FC;
    border-top: none;
    background-color:  #FFF;
    width: calc((100% - 48px) / 3);

}

.title-text-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top:none;
}

.title-text-container .list-title {
    margin-bottom: 8px;
}

.page-footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.page-footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.page-footer .logo-studio {
    color: #F4F4FD;
}
.footer-text {
    max-width: 264px;
    color: #F4F4FD;
}
